<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Hello.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1387</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1415</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2038</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2053</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2054</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2056</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2061</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2069</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2071</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2072</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2077</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2079</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2101</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2105</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2120</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2128</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2139</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2162</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2170</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2249</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2262</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2290</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2306</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2311</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2357</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2359</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2360</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2374</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2375</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2402</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2403</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2489</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2554</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2612</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2627</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2628</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2655</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2659</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2674</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2683</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2686</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2701</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2702</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2729</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2736</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2789</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2859</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2940</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2997</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2999</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3133</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3148</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3182</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3302</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3488</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3528</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3595</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3639</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_App</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Auth</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_BCrypt</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_CLibreSSL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Cache</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Cipher</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Console</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Cookies</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Core</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Essentials</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Fluent</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HMAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HTTP</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HTTPRouting</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Hash</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_JSON</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Jay</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Leaf</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Node</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_PathIndexable</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Polymorphic</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Random</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Routing</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SMTP</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Sessions</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Settings</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Socks</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TLS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Transport</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Turnstile</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TurnstileCrypto</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TurnstileWeb</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TypeSafeRouting</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_URI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Vapor</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_WebSockets</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_libc</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
